@use 'variables' as *;

@mixin global-formatting {
    margin:                 0;
    padding:                0;
}

@mixin cross-browser-support-transition-set {
    transition:             $main-transition;
    -webkit-transition:     $main-transition;
    -moz-transition:        $main-transition;
    -o-transition:          $main-transition;
}