@media screen and (max-width: 760px) {
    .container {
        padding: 25px;
        .wrapper {
            flex-wrap: wrap-reverse;
        }
    }
    .wrapper {
        .editor-panel {
            padding-top: 10px;
            width: auto !important;
        }
        .preview-img {
            width: 100%;
            margin-left: 0px !important;
            padding-bottom: 20px;
        }
    }
}

@media screen and (min-width: 525px) and (max-width: 759px) {
    .editor-panel {
        width: 100% !important;
    }
}