@media screen and (max-width: 500px) {
    .controls {
        button {
            width: 100%;
            margin-bottom: 10px;
        }
        .row {
            width: 100%;
            .save-img {
                margin-left: 0px;
            }
        }
    }
}