@media screen and (max-width: 500px) {
    .controls {
        button {
            width: 100%;
            margin-bottom: 10px;
        }
        .row {
            width: 100%;
            .save-img {
                margin-left: 0px;
            }
        }
    }
}

/*@media (max-width: 520px) {
    .editor-panel {
        width: auto !important;
    }
    .preview-img {
        margin-left: 0px !important;
    }
}*/

@media screen and (max-width: 760px) {
    .container {
        padding: 25px;
        .wrapper {
            flex-wrap: wrap-reverse;
        }
    }
    .wrapper {
        .editor-panel {
            padding-top: 10px;
            width: auto !important;
        }
        .preview-img {
            width: 100%;
            margin-left: 0px !important;
        }
    }
}