@import 'partials/variables', 'partials/typography', 'partials/mixins', 'partials/responsive';

* {
    @include global-formatting;
    font-family: $body-font;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(140deg, #160040, #4C0070);
}

.container.disable :is(.editor-panel, .reset-filter, .save-img) {
    opacity: 0.6;
    pointer-events: none;
}

.container {
    width: auto;
    background: transparent;
    border-radius: $border-radius;
    border: 2px solid #000;
    padding: 30px 35px 35px;
    box-shadow: 0 10px 20px #11111129;
    h2 {
        font-size: 21px;
        font-weight: 600;
    }
    button {
        text-transform: uppercase;
    }
    .controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        button {
            cursor: pointer;
            color: #f5f5f5;
            background: #f5f5f5;
            font-size: 14px;
            padding: 11px 20px;
            border-radius: $border-radius;
        }  
        .row > button {
            height: 45px;
        } 
        .choose-img {
            background:#cf2f98;
            border: none;
            transition: $main-transition;
            &:hover {
                background:#6a3dec;
                transition: $main-transition;
            }
        }
        .reset-filter {
            background: #6c757d;
            border: none;
            transition: $main-transition;
            &:hover {
                background: #ddd;
                color: #111;
                transition: $main-transition;
            }
        }
        .save-img {
            background: #6a3dec;
            border: none;
            margin-left: 5px;
            transition: $main-transition;
            &:hover {
                background:#cf2f98;
                transition: $main-transition;
            }
        }
    }
    .wrapper {
        display: flex;
        margin: 20px 0;
        min-height: 335px;
        .preview-img {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            margin-left: 20px;
            overflow: hidden;
            .placeholder-img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        .editor-panel {
            width: 280px;
            padding: 15px 20px;
            border-radius: $border-radius;
            border: 1px solid #ddd;
            .title {
                display: block;
                font-size: 16px;
                font-weight: 800;
                margin-bottom: 12px;
            }
            .options {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            button {
                height: 40px;
                font-size: 14px;
                padding: 0 10px;
                color: #6c757d;
                margin-bottom: 8px;
                border: 1px solid #aaa;
                border-radius: $border-radius;
                background: #f5f5f5;
                transition: $main-transition;
                &:hover {
                    cursor: pointer;
                    background: #ddd;
                    color: #111;
                    transition: $main-transition;
                }
            }
            .filter button {
                width: calc(100% / 2 - 4px);
            }
            .active {
                color: #f5f5f5;
                background: #5372f0;
                border: 0;
            }
            .rotate {
                margin-top: 17px;
            }
            .rotate button {
                width: calc(100% / 4 - 3px);
                transition: $main-transition;
                &:nth-child(3),
                &:nth-child(4) {
                    font-size: 18px;
                }
            }
            .slider {
                margin-top: 12px;
                .filter-info {
                    display: flex;
                    justify-content: space-between;
                    color: #464646;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                input {
                    width: 100%;
                    height: 5px;
                    accent-color: #5372f0;
                }
            }
        }
    }
}