@import 'partials/variables', 'partials/typography', 'partials/mixins';

* {
    @include global-formatting;
    font-family: $body-font;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to top, #e3f2fd, whitesmoke);
}

.container {
    width: auto;
    background: whitesmoke;
    border-radius: 5px;
    padding: 30px 35px 35px;
    box-shadow: 0 10px 20px rgba(17, 17, 17, 0.161);
    h2 {
        font-size: 21px;
        font-weight: 600;
    }
    button {
        text-transform: uppercase;
    }
    .wrapper {
        display: flex;
        margin: 20px 0;
        min-height: 335px;
        .editor-panel {
            width: 280px;
            padding: 15px 20px;
            border-radius: 5px;
            border: 1px solid #ddd;
            .title {
                display: block;
                font-size: 16px;
                font-weight: 800;
                margin-bottom: 12px;
            }
            .options {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            button {
                height: 40px;
                font-size: 14px;
                padding: 0 10px;
                color: #6c757d;
                margin-bottom: 8px;
                border: 1px solid #aaa;
                border-radius: 5px;
                background: whitesmoke;
            }
            .filter button {
                width: calc(100% / 2 - 4px);
                .active {
                    background: #5372f0;
                }
            }
        }
    }
}