@import 'partials/variables', 'partials/typography', 'partials/mixins';

* {
    @include global-formatting;
    font-family: $body-font;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to top, #e3f2fd, whitesmoke);
}

button {
    text-transform: uppercase;
}