@use 'partials/globals' as *;
@use 'partials/mixins' as *;
@use 'partials/responsive' as *;
@use 'partials/typography' as *;
@use 'partials/variables' as *;


.container.disable :is(.editor-panel, .reset-filter, .save-img) {
    opacity: 0.4;
    pointer-events: none;
}

.container {
    width: auto;
    background: transparent;
    border-radius: $border-radius;
    border: .125rem solid $main-color-1;
    padding: 1.875rem 2.1875rem 2.1875rem;
    box-shadow: 0 0rem 1.25rem $box-shadow-color;
    button {
        text-transform: uppercase;
    }
    .controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        button {
            cursor: pointer;
            color: $font-color;
            background: #f5f5f5;
            font-size: .875rem;
            padding: .6875rem 1.25rem;
            border-radius: $border-radius;
        }  
        .row > button {
            height: 2.8125rem;
        } 
        .choose-img {
            background:#79018C;
            border: none;
            @include cross-browser-support-transition-set;
            &:hover {
                background:#4C0070;
                @include cross-browser-support-transition-set;
            }
        }
        .reset-filter {
            background: #6c757d;
            border: none;
            @include cross-browser-support-transition-set;
            &:hover {
                background: #ddd;
                color: #111;
                @include cross-browser-support-transition-set;
            }
        }
        .save-img {
            background: #4C0070;
            border: none;
            margin-left: .3125rem;
            @include cross-browser-support-transition-set;
            &:hover {
                background:#cf2f98;
                @include cross-browser-support-transition-set;
            }
        }
    }
    .wrapper {
        display: flex;
        margin: 1.25rem 0;
        min-height: 20.9375rem;
        .preview-img {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            margin-left: 1.25rem;
            overflow: hidden;
            .placeholder-img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                border-radius: $border-radius;
                border: .0625rem solid #000;
            }
        }
        .editor-panel {
            width: fit-content;
            padding: .9375rem 1.25rem;
            border-radius: $border-radius;
            border: .0625rem solid #ddd;
            .title {
                display: block;
                font-size: 1rem;
                font-weight: 800;
                margin-bottom: .75rem;
            }
            .options {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                #brightness {
                    background-color: $main-color-3;
                    &:hover {
                        background-color: $main-color-2;
                        color: $font-color;
                    }
                }
            }
            button {
                height: 2.5rem;
                font-size: .875rem;
                padding: 0 .625rem;
                color: #6c757d;
                margin-bottom: .5rem;
                border: .0625rem solid #aaa;
                border-radius: $border-radius;
                background: #f5f5f5;
                @include cross-browser-support-transition-set;
                width: 100%;
                &:hover {
                    cursor: pointer;
                    background: #ddd;
                    color: #111;
                    @include cross-browser-support-transition-set;
                }
            }
            .filter button {
                width: calc(100% / 2 - .25rem);
            }
            .active {
                color: #f5f5f5;
                background: #5372f0;
                border: 0;
            }
            .rotate {
                margin-top: 1.0625rem;
            }
            .rotate button {
                width: calc(100% / 4 - .1875rem);
                @include cross-browser-support-transition-set;
                &:nth-child(3),
                &:nth-child(4) {
                    font-size: 1.125rem;
                }
            }
            .slider {
                margin-top: .75rem;
                .filter-info {
                    display: flex;
                    justify-content: space-between;
                    color: #464646;
                    font-size: 1rem;
                    margin-bottom: .3125rem;
                }
                input {
                    width: 100%;
                    height: .3125rem;
                    accent-color: #5372f0;
                    cursor: pointer;
                }
            }
        }
    }
}