@use 'partials/globals' as *;
@use 'partials/mixins' as *;
@use 'partials/responsive' as *;
@use 'partials/typography' as *;
@use 'partials/variables' as *;


.container.disable :is(.editor-panel, .reset-filter, .save-img) {
    opacity: 0.4;
    pointer-events: none;
}

.container {
    width: auto;
    background: transparent;
    border-radius: $border-radius;
    border: 2px solid $main-color-1;
    padding: 30px 35px 35px;
    box-shadow: 0 0px 20px $box-shadow-color;
    button {
        text-transform: uppercase;
    }
    .controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        button {
            cursor: pointer;
            color: $font-color;
            background: #f5f5f5;
            font-size: 14px;
            padding: 11px 20px;
            border-radius: $border-radius;
        }  
        .row > button {
            height: 45px;
        } 
        .choose-img {
            background:#79018C;
            border: none;
            @include cross-browser-support-transition-set;
            &:hover {
                background:#4C0070;
                @include cross-browser-support-transition-set;
            }
        }
        .reset-filter {
            background: #6c757d;
            border: none;
            @include cross-browser-support-transition-set;
            &:hover {
                background: #ddd;
                color: #111;
                @include cross-browser-support-transition-set;
            }
        }
        .save-img {
            background: #4C0070;
            border: none;
            margin-left: 5px;
            @include cross-browser-support-transition-set;
            &:hover {
                background:#cf2f98;
                @include cross-browser-support-transition-set;
            }
        }
    }
    .wrapper {
        display: flex;
        margin: 20px 0;
        min-height: 335px;
        .preview-img {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            margin-left: 20px;
            overflow: hidden;
            .placeholder-img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                border-radius: $border-radius;
                border: 1px solid #000;
            }
        }
        .editor-panel {
            width: fit-content;
            padding: 15px 20px;
            border-radius: $border-radius;
            border: 1px solid #ddd;
            .title {
                display: block;
                font-size: 16px;
                font-weight: 800;
                margin-bottom: 12px;
            }
            .options {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                #brightness {
                    background-color: $main-color-3;
                    &:hover {
                        background-color: $main-color-2;
                        color: $font-color;
                    }
                }
            }
            button {
                height: 40px;
                font-size: 14px;
                padding: 0 10px;
                color: #6c757d;
                margin-bottom: 8px;
                border: 1px solid #aaa;
                border-radius: $border-radius;
                background: #f5f5f5;
                @include cross-browser-support-transition-set;
                width: 100%;
                &:hover {
                    cursor: pointer;
                    background: #ddd;
                    color: #111;
                    @include cross-browser-support-transition-set;
                }
            }
            .filter button {
                width: calc(100% / 2 - 4px);
            }
            .active {
                color: #f5f5f5;
                background: #5372f0;
                border: 0;
            }
            .rotate {
                margin-top: 17px;
            }
            .rotate button {
                width: calc(100% / 4 - 3px);
                @include cross-browser-support-transition-set;
                &:nth-child(3),
                &:nth-child(4) {
                    font-size: 18px;
                }
            }
            .slider {
                margin-top: 12px;
                .filter-info {
                    display: flex;
                    justify-content: space-between;
                    color: #464646;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                input {
                    width: 100%;
                    height: 5px;
                    accent-color: #5372f0;
                    cursor: pointer;
                }
            }
        }
    }
}